<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="3.0.0.2" targetFramework="net452" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net452" />
  <package id="ReportPortal.Client" version="2.1.9" targetFramework="net452" />
  <package id="ReportPortal.Shared" version="2.1.7" targetFramework="net452" />
  <package id="RestSharp" version="105.2.3" targetFramework="net452" />
  <package id="Selenium.Support" version="3.5.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.5.0" targetFramework="net452" />
  <package id="Unicorn.ReportPortalAgent" version="2.2.1" targetFramework="net452" />
  <package id="Unicorn.Taf.Core" version="2.2.1" targetFramework="net452" />
  <package id="Unicorn.TestAdapter" version="2.2.1" targetFramework="net452" />
  <package id="Unicorn.UI.Core" version="2.2.1" targetFramework="net452" />
  <package id="Unicorn.UI.Mobile" version="2.1.2" targetFramework="net452" />
  <package id="Unicorn.UI.Web" version="2.2.1" targetFramework="net452" />
  <package id="Unicorn.UI.Win" version="2.2.1" targetFramework="net452" />
</packages>