<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspectInjector" version="1.0.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net452" />
  <package id="Unicorn.Backend" version="1.0.0" targetFramework="net452" />
  <package id="Unicorn.Taf.Core" version="2.5.0" targetFramework="net452" />
</packages>