<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Unicorn code rules" Description=" " ToolsVersion="14.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1008" Action="None" />
    <Rule Id="CA1009" Action="None" />
    <Rule Id="CA1012" Action="Warning" />
    <Rule Id="CA1030" Action="Warning" />
    <Rule Id="CA1034" Action="Warning" />
    <Rule Id="CA1040" Action="Error" />
    <Rule Id="CA1041" Action="Warning" />
    <Rule Id="CA1064" Action="Error" />
    <Rule Id="CA1302" Action="Error" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1500" Action="Error" />
    <Rule Id="CA1501" Action="Warning" />
    <Rule Id="CA1502" Action="Warning" />
    <Rule Id="CA1504" Action="Warning" />
    <Rule Id="CA1505" Action="Warning" />
    <Rule Id="CA1721" Action="Warning" />
    <Rule Id="CA1801" Action="Warning" />
    <Rule Id="CA1823" Action="Warning" />
    <Rule Id="CA2233" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.NativeCodeAnalysis" RuleNamespace="Microsoft.Rules.Native">
    <Rule Id="C28197" Action="Warning" />
    <Rule Id="C28198" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS0168" Action="Error" />
    <Rule Id="CS0219" Action="Error" />
    <Rule Id="CS0458" Action="Error" />
    <Rule Id="CS0642" Action="Error" />
    <Rule Id="CS0657" Action="Error" />
    <Rule Id="CS0658" Action="Error" />
    <Rule Id="CS0672" Action="Error" />
    <Rule Id="CS0811" Action="Error" />
    <Rule Id="CS1058" Action="Error" />
    <Rule Id="CS1522" Action="Error" />
    <Rule Id="CS1645" Action="Error" />
    <Rule Id="CS1717" Action="Error" />
    <Rule Id="CS1718" Action="Error" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S1110" Action="Error" />
    <Rule Id="S1125" Action="Error" />
    <Rule Id="S1145" Action="Error" />
    <Rule Id="S1151" Action="Error" />
    <Rule Id="S1155" Action="Error" />
    <Rule Id="S1172" Action="Error" />
    <Rule Id="S1481" Action="Error" />
    <Rule Id="S1643" Action="Error" />
    <Rule Id="S1858" Action="Error" />
    <Rule Id="S1862" Action="Error" />
    <Rule Id="S1871" Action="Error" />
    <Rule Id="S1905" Action="Error" />
    <Rule Id="S2225" Action="Error" />
    <Rule Id="S2589" Action="Error" />
    <Rule Id="S2737" Action="Error" />
    <Rule Id="S3235" Action="Error" />
    <Rule Id="S3256" Action="Error" />
    <Rule Id="S3263" Action="Error" />
    <Rule Id="S3415" Action="Error" />
    <Rule Id="S3877" Action="Error" />
    <Rule Id="S3962" Action="Error" />
    <Rule Id="S907" Action="Error" />
  </Rules>
</RuleSet>